:root {
  --container-width: 1160px;
  --container-padding: 5px;

  --font-main: "Comfortaa", sans-serif;
  --font-accent: "Gilroy", sans-serif;

  --whiteColor: #ffffff;
  --textColor: #151515;
  --accent: #521a99;
}
