.age__inner {
}

.age-title {
  margin-bottom: 50px;
}
.age__item-box {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  counter-reset: count;
  flex-wrap: wrap;
  gap: 13px;
}
.age__item {
  max-width: 360px;
  margin-bottom: 50px;
}
.age__item__image {
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
}
.age-item__textContent {
  position: relative;
  border-radius: 20px;
  border: 2px solid var(--accent);
  padding-top: 43px;
  counter-increment: count;
  &::after {
    position: absolute;
    font-size: 120px;
    font-weight: 700;
    color: #d9d0ff;
    top: 32px;
    left: 20px;
    content: counter(count, general);
  }
}
.age-item__textContent-title {
  font-family: var(-font-accent);
  font-size: 24px;
  font-weight: 600;
  padding-left: 104px;
  margin-bottom: 20px;
}
.age-item__textContent-description {
  padding-left: 104px;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-accent);
  padding-right: 42px;
  margin-bottom: 52px;
  @include mobile-s {
    padding-right: 7px;
  }
}
.age-item__textContent-button {
  width: 340px;
  padding: 15px 40px;
  border-radius: 20px;
  margin-left: 10px;
  transform: translateY(27px);
}
.button {
}
