.header {
  position: relative;
  overflow: hidden;
}

.top-nav {
  padding-block: 10px;
  background-color: #f7f6ff;
}
.top-nav-list {
  display: flex;
  align-items: center;
  @include tablet {
    justify-content: space-between;
  }
}
.top-nav-list-item {
}
.top-nav-list-link {
}
.logo {
  margin-right: 158px;
  @include tablet {
    margin-right: 0;
  }
}
.top-nav-list-btn {
}
.top-button-inner {
  display: flex;
  justify-content: center;
  gap: 17px;
  @include mobile {
    display: none;
  }
}
.top-button {
  white-space: nowrap;
  padding: 14px 32px;
  border-radius: 10px;
  border: 1px solid var(--accent);
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 600;
  color: var(--accent);
  transition: all 0.2s;
  @include hover {
    color: var(--whiteColor);
    background-color: var(--accent);
  }
  @include tablet {
    font-size: 16px;
    padding: 7px 10px;
  }
}
.top-nav-list-inner-tel {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  a {
    color: var(--textColor);
    font-family: var(--font-accent);
    font-size: 18px;
    font-weight: 600;
  }
  @include tablet {
    display: none;
  }
}
.burger {
  position: relative;
  z-index: 201;
  width: 50px;
  height: 50px;
  display: none;
  @include tablet {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :nth-child(1) {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transform: translateX(15px);
  }
  :nth-child(2) {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transform: translateY(5px);
  }
}
.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  padding-block: 31px;
  @include tablet {
    position: absolute;
    width: 50vw;
    height: 100dvh;
    flex-direction: column;
    padding-top: 100px;
    background-color: #fff;
    z-index: 200;
    top: 0;
    right: -150%;

    transition: all 0.2s;
    @include mobile {
      width: 70vw;
    }
    &.active {
      right: 0;
    }
  }
}
.main-nav-list-link {
  position: relative;
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 600;
  color: var(--textColor);
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    &::before {
      transform-origin: right;
      transform: scaleX(1);
    }
  }
}
.inner-main {
  background-image: url(../img/mainBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 723px;
}
.main__inner-text {
  position: relative;
  .main__image {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 352px;
    object-fit: cover;
    z-index: 1;
    @include tablet {
      width: clamp(12.5rem, 7.0108rem + 23.4206vw, 22rem);
      top: 130px;
    }
    @include mobile {
      top: 180px;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.title {
  font-size: 64px;
  color: var(--accent);
  font-weight: 700;
  max-width: 745px;
  padding-top: 61px;
  line-height: 95%;
  span {
    color: var(--whiteColor);
  }

  @include tablet {
    font-size: clamp(1.625rem, 0.6099rem + 4.3312vw, 3.75rem);
    padding-top: 30px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.main-small-text {
  position: relative;
  font-size: clamp(0.75rem, 0.5376rem + 0.9061vw, 1.625rem);
  font-family: var(--font-accent);
  color: var(--whiteColor);
  margin-bottom: 25px;
  margin-left: 30px;
  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: url(../../img/icon.png);
    background-size: cover;
    @include tablet {
      display: none;
    }
  }
  @include tablet {
    text-align: center;
  }
  @include mobile {
    text-align: right;
  }
}
.main-button {
  margin-bottom: 25px;
  @include tablet {
    margin-left: 115px;
  }
  @include mobile {
    min-width: 60%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 55%;
  }
  @include mobile-s {
    margin-bottom: 65%;
  }
}
.main-info-block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 20px;
  @include tablet {
    max-width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  @include mobile {
    max-width: 100%;
  }
}
.info-block__item {
  position: relative;
  z-index: 100;
  font-family: var(--font-accent);
  font-size: 18px;
  width: 360px;
  min-height: 127px;
  background-color: #96e0f1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 45px;
  padding-right: 25px;
  line-height: 130%;
  padding-block: 28px;
  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 14px;
  }
  @include mobile-s {
    width: 100%;
  }
}

.header-content__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 131px;
  flex-wrap: wrap;
}
.header-content__item--pink {
  background-color: #ffe483;
}
.header-content__item--purple {
  background-color: #d9d0ff;
}
.header-content__item {
  padding-top: 32px;
  text-align: center;
  width: 280px;
  height: 280px;
  border-radius: 40px;
  margin-bottom: 20px;
  img {
    margin-bottom: 22px;
    background-color: transparent;
  }
  h3 {
    margin-bottom: 22px;
    font-family: var(--font-accent);
    font-size: 26px;
    font-weight: 600;
  }
}
.content__item__image {
}
.content__item__title {
}
.content__item__text {
  p {
    padding-inline: 15px;
    font-family: var(--font-accent);
    font-size: 18px;
    font-weight: 400;
  }
}
