.resultSection-title {
  margin-bottom: 100px;
  @include tablet {
    margin-bottom: 20px;
  }
}

.resultSection__inner {
  position: relative;
  z-index: 100;
  margin-bottom: 50px;
}
.resultSection__box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 13px;
  @include tablet {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 13px;
  }
}
.resultSection__item {
  min-width: 380px;
  border-radius: 30px;
  background-color: #fff3d6;
  min-height: 200px;
  @include mobile-s {
    min-width: 100%;
  }
}
.result-item__image {
  display: block;
  padding: 40px 0 20px 40px;
}
.result-item__text {
  padding-left: 40px;
  max-width: 262px;
  font-family: var(--font-accent);
  font-size: 21px;
  line-height: 120%;
  font-weight: 400;
  padding-bottom: 34px;
}

.resultSection__imageBox-decor1,
.resultSection__imageBox-decor2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.resultSection__imageBox-decor1 {
  width: clamp(12.5rem, 3.2264rem + 39.5676vw, 35.375rem);
  @include tablet {
    /* width: 100%; */
    top: 0;
    transform: translateY(0);
    transform: translateX(-50%);
  }
  @include mobile {
    width: 100%;
  }
}
.resultSection__imageBox-decor2 {
  @include tablet {
    position: relative;
    top: 60px;
    transform: translateY(0);
    transform: translateX(-50%);
  }
}
