.third-section__inner {
  background-color: #028dfa;
  border-radius: 40px;
  margin-bottom: 140px;
  @include tablet {
    margin-bottom: 100px;
  }
  @include mobile {
    margin-bottom: 50px;
  }
}
.third-section__title {
  padding-top: 80px;
  max-width: 370px;
  @include tablet {
    max-width: 100%;
  }
  @include mobile {
    margin-bottom: 50px;
  }
}

.third-section__textContent {
  padding-left: 465px;
  position: relative;
  z-index: 100;
  @include tablet {
    width: 76%;
    padding-inline: 40px;
    margin-left: auto;
    text-align: center;
  }
  @include mobile {
    width: 100%;
  }
}
.textImage-bg {
  position: absolute;
  z-index: -1;
  width: 78%;
  top: -43px;
  right: 10px;
  @include tablet {
    width: 100%;
    top: -72px;
    right: 10px;
  }
  @include mobile {
    top: 0;
  }
}
.decor1 {
  position: absolute;
  top: 20px;
  right: 75px;
  z-index: -1;
  @include tablet {
    top: -45px;
  }
  @include mobile {
    display: none;
  }
}
.decor2 {
  position: absolute;
  top: 27%;
  left: 400px;
  transform: translateY(-50%);
  z-index: -1;
  @include tablet {
    display: none;
  }
}
.decor3 {
  position: absolute;
  rotate: 180deg;
  right: 62px;
  bottom: -10px;
  z-index: -1;
  @include tablet {
    display: none;
  }
}
.third-section__text,
.third-section__author {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
  max-width: 486px;
  @include tablet {
    max-width: 100%;
  }
}
.third-section__author {
  font-weight: 700;
}
.third-section__innerButtons {
  position: relative;
  transform: translateY(35px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    justify-content: end;
    transform: translateY(20px);
    gap: 10px;
  }
  @include mobile {
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(0);
  }
}
.third-section__innerButtons__image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 130px;
  @include tablet {
    width: 30%;
    left: 0;
    bottom: 35px;
  }
  @include mobile {
    position: relative;
    display: block;
    bottom: -17px;
  }
}
.third-section__button {
  position: relative;
  min-width: 340px;
  white-space: nowrap;
  margin-right: 40px;
  max-height: 70px;
  @include tablet {
    margin-right: 0;
  }
  .playbutton-img {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    @include mobile {
      display: none;
    }
  }
}
